In [31]:
import pandas as pd
import numpy as np

In [32]:
def sigmoid(x):
    return 1/(1+np.exp(-x))

In [33]:
f1 = np.load('../classification/logs/fold1/dataset.predictions.infer.logits.npy')
f2 = np.load('../classification/logs/fold2/dataset.predictions.infer.logits.npy')
f3 = np.load('../classification/logs/fold3/dataset.predictions.infer.logits.npy')
f4 = np.load('../classification/logs/fold4/dataset.predictions.infer.logits.npy')
f5 = np.load('../classification/logs/fold5/dataset.predictions.infer.logits.npy')

In [34]:
prediction= (sigmoid(f1)+sigmoid(f2)+sigmoid(f3)+sigmoid(f4)+sigmoid(f5))/5

In [35]:
pd_sub0 = pd.read_csv('../data/submission.csv')

In [36]:
pd_sub0.tail()

,Unnamed: 0,id,rle_mask,filename
17995,17995,be466f2fc3,NaN,be466f2fc3.png
17996,17996,eaf3b0ec78,60 42 161 42 262 42 363 42 464 42 565 42 667 4...,eaf3b0ec78.png
17997,17997,10321b58c3,8471 8 8570 12 8668 15 8766 19 8865 23 8964 26...,10321b58c3.png
17998,17998,1bbf1cdaba,1 3822 3829 58 3940 33 4041 18 4142 8,1bbf1cdaba.png
17999,17999,3d6e96149e,NaN,3d6e96149e.png

In [37]:
pd_sub0['class'] = prediction[:,1]

In [38]:
pd_sub = pd.read_csv('../data/submission_9.csv')

In [39]:
pd_sub.head()

           id                                           rle_mask
0  8cf16aa0f5                                                NaN
1  23012be6b7  2526 1 2627 3 2728 5 2829 6 2930 8 3031 10 313...
2  9e46a3352e                                                NaN
3  8016056c46                                                NaN
4  a490a68472                                                NaN

In [40]:
pd_sub['class'] = prediction[:,1]

In [41]:
indx = (pd_sub['class'] > 0.96) & (pd_sub['rle_mask'].notnull())
pd_sub.loc[indx]

               id                                           rle_mask     class
75     f81f9cead3                                            10102 8  0.960128
416    4553bc6fda  9286 7 9380 14 9473 22 9565 31 9651 46 9747 51...  0.969661
616    934c53d70e  9648 6 9689 6 9745 23 9783 15 9844 55 9942 58 ...  0.984811
1273   87eff3371d  7241 23 7317 57 7403 72 7500 76 7596 81 7691 8...  0.984241
1758   bbf06a910a                   9798 5 9899 10 10000 13 10101 14  0.983646
1994   bdb1c1fcbf  53 49 156 47 262 42 369 36 473 33 576 31 679 2...  0.964489
2585   ca2c7ceb97  76 26 178 25 279 25 380 25 482 24 583 24 685 2...  0.988866
2934   59f63d1a95                          8942 36 9000 89 9091 1111  0.972277
4226   cc1b695b2c  1109 3 1208 5 1308 6 1409 6 1509 7 1609 8 1710...  0.969004
4973   38e744be5e                              1 7060 7071 78 7172 8  0.988983
5489   a99b61c527  1 303 322 83 430 76 533 74 636 11 649 8 674 32...  0.991238
6001   117503a0b0  3237 19 3334 26 3435 29 3536 30 3637 32 3738 3...  0.960888
6061   e8f48a2038            1 5252 5254 100 5365 81 5491 47 5599 22  0.990827
6085   fa461678e9                                     1 8308 8338 38  0.964975
6803   0d61c54a7f  3190 28 3288 33 3387 38 3486 42 3585 45 3684 4...  0.970177
6874   1301514d67          3598 20 3693 55 3782 73 3880 83 3976 6226  0.964405
6969   42f5dde8ec  1 4039 4045 92 4149 85 4253 78 4362 66 4473 33...  0.986277
6986   053e7d3043    9033 25 9087 4 9128 64 9223 70 9314 80 9400 802  0.971800
7086   766c55d886  1 6868 6879 91 6986 85 7091 46 7145 27 7197 34...  0.965009
7130   332dbd80a3  8585 1 8683 4 8783 5 8882 7 8982 8 9082 9 9181...  0.966417
8423   b5469f2eb9  1 95 102 91 203 87 304 80 405 72 506 67 607 63...  0.990375
8921   857c693eed  3231 2 3331 3 3432 3 3532 4 3632 5 3732 6 3832...  0.974908
8948   6aaddb7b41  1 52 102 52 203 52 304 52 405 53 506 53 607 53...  0.975479
9019   1c093fde09  7519 8 7616 32 7705 50 7801 59 7894 69 7980 86...  0.963475
9354   59ed0ad9fa  1 3129 3132 94 3233 90 3334 87 3435 85 3536 84...  0.961775
9815   ffc6f7ddbf                   8962 13 9027 6 9055 29 9095 1107  0.968560
10034  b344da6616  23 40 124 38 224 37 325 34 426 32 527 29 628 2...  0.962602
10201  cb271e243d      1 7770 7778 88 7879 78 7980 66 8081 52 8208 9  0.962685
10760  f33e9641c7  2986 19 3084 29 3183 32 3281 37 3332 2 3381 39...  0.962747
11620  bb8a7805be  8989 1 9087 4 9186 6 9285 8 9383 11 9481 14 95...  0.973716
11786  120cef9fab  8386 10 8485 17 8586 20 8687 23 8788 25 8889 2...  0.974309
12179  0c7a052374  9185 7 9282 11 9381 13 9480 15 9579 17 9678 19...  0.984610
12364  833ff7ed7e  2526 16 2627 21 2728 28 2829 35 2930 41 3031 4...  0.965997
13124  55689d22ea  3275 16 3373 22 3456 4 3467 31 3546 2 3554 47 ...  0.960059
13221  aeb75ff00e  4817 15 4913 34 5011 40 5109 43 5207 46 5282 7...  0.989797
13360  d1368abea3  84 18 186 17 287 17 389 16 491 15 593 14 695 1...  0.964958
14213  f7677ef77c  1415 34 1452 10 1472 8 1516 75 1617 79 1718 83...  0.964828
14602  e48923a845                             9899 1 10000 2 10101 3  0.977241
15970  b385f3a649  1 98 102 96 203 94 304 90 405 80 506 72 607 66...  0.987353
16204  2fb72cfd9e  7950 18 8043 28 8127 47 8219 59 8314 68 8408 7...  0.968725
16624  9cccb3141e  6373 7 6468 25 6501 24 6566 69 6667 76 6768 86...  0.988070
16881  85cbf88c3a  1 7463 7475 86 7576 82 7677 79 7778 47 7841 3 ...  0.989094
17328  6f2a1691c4  86 16 188 15 290 14 392 13 494 12 596 11 698 1...  0.961776
17715  791a14f34f  51 51 153 50 256 48 358 47 461 45 564 43 668 4...  0.982863

In [42]:
pd_sub.loc[indx,'rle_mask'] = np.NaN

In [43]:
pd_sub.to_csv('../data/submission_9_mod.csv', columns = ['id','rle_mask'], index = False)

In [44]:
pd_sub.head()

           id                                           rle_mask     class
0  8cf16aa0f5                                                NaN  0.979108
1  23012be6b7  2526 1 2627 3 2728 5 2829 6 2930 8 3031 10 313...  0.314227
2  9e46a3352e                                                NaN  0.974249
3  8016056c46                                                NaN  0.990562
4  a490a68472                                                NaN  0.990631